.cart {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "list payment";
  gap: 20px;
  max-width: 1316px;
  padding: 25px 0 0 0;
}

.cart-list {
  grid-area: list;
  border: 1px solid #999894;
  border-radius: 25px;
  padding: 25px;
}

.cart-items--list {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 
    "name delete";
  gap: 20px;
  padding: 25px;
}

.cart-items--list-name {
  grid-area: name;
  padding-bottom: 15px;
  border-bottom: 1px solid #999894;
}

.cart-items--list-delete {
  grid-area: delete;
  display: flex;
  justify-content: flex-end;
}

.cart-payment {
  grid-area: payment;
  display: flex;
  color: #999894;
  min-width: 400px;
  justify-content: flex-end;
  border: 1px solid #999894;
  border-radius: 25px;
  padding: 25px;
}