.cart {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: 
    "list payment";
  gap: 20px;
  max-width: 1316px;
  padding: 25px 0 0 0;
}

.cart-list {
  grid-area: list;
  border: 1px solid #999894;
  border-radius: 25px;
  padding: 25px;
}

.cart-items--list {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 0.1fr;
  grid-template-areas: 
    "img name delete"
    "hr hr hr";
  gap: 20px;
  padding: 25px;
}

.hr {
  grid-area: hr;
  border-bottom: 1px solid #999894;
}

.cart-items--list-img {
  grid-area: img;
  padding-bottom: 15px;

  img {
    max-height: 150px;
  }
}

.cart-items--list-name {
  grid-area: name;
  padding-bottom: 15px;
}

.cart-items--list-delete {
  grid-area: delete;
  display: flex;
  justify-content: flex-end;
  max-height: 30px;
}

.cart-payment {
  grid-area: payment;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #999894;
  min-width: 400px;
  border: 1px solid #999894;
  border-radius: 25px;
  padding: 25px;
}