.App {  
  display: grid;
  grid-template-columns: 62px 1.3fr 62px;
  grid-template-rows: 0.1fr 2.5fr 0.01fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header-wrapper header-wrapper header-wrapper"
    "main-wrapper main-wrapper main-wrapper"
    "footer-wrapper footer-wrapper footer-wrapper";
}

.header-wrapper {  
  display: grid;
  grid-template-columns: 62px 2.8fr 62px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". header .";
  grid-area: header-wrapper;
  background-color: #000000;
  justify-items: center;
  align-items: end;

}

header { 
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "left right";
  max-width: 1316px;
  padding: 25px 0 25px 0;
  margin: 0 0 -20px 0;
}

.header--logo {
  grid-area: left;
  display: flex;
  justify-content: flex-start;
  padding-right: 530px;
}

.header--cart-user {
  grid-area: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  align-items: flex-end;
}

.header--dropdown-link {
  background-color: #000;
  cursor: pointer;
  border: none;
}

.header--user-dropdown {
  position: relative;
}

.sign-up-login {
  position: absolute;
  left: -183px;
  top: calc(100% + .15rem);
  background-color: #252525;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .5);
  color: #FFFFFF;
  min-height: 200px;
  min-width: 218px;
}

.main-wrapper {  
  display: grid;
  grid-template-columns: 62px 1fr 62px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". main .";
  grid-area: main-wrapper;
  justify-items: center;
}

main { 
  grid-area: main; 
  display: flex;
  flex-direction: column;
  max-width: 1316px;
}

.home-logos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 34px 0 34px 0;
}

.banner {
  background-image: url("https://i.imgur.com/QnkZxGb.png");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  height: 124px;
  width: 100%;
  border-radius: 10px;
  a {
    color: white;
    text-decoration: none;
  }
}

.banner-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

.banner-text--effect {
  -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
          padding-bottom: 5px;
          border-bottom: 1px solid rgb(203, 203, 203);
}

.card-small {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 56px;
  padding: 55px 0 60px 0;
}

.card-small--empty {
  width: 115px;
}

.card-small-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 15px 60px 21px 50px;
  width: 107px;
  height: 300px;
  color: #999894;
  background-color: #2f2f2f;

  img {
    max-width: 100px;
    max-height: 200px;
  }
}

.card-small-card--name {
  padding: 5px 0 20px 0;
}

.card-small-card--price {
  padding: 15px 0 0 0;
}

.footer-wrapper {  
  display: grid;
  grid-template-columns: 62px 1fr 62px;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". footer .";
  grid-area: footer-wrapper;
  background-color: #000000;
  box-shadow: 0 50vh 0 50vh #000;
  justify-items: center;
}

footer { 
  grid-area: footer; 
  color: #BBBBBB;
  font-size: 0.8rem;
  padding: 15px 0 25px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
    "left right";
  max-width: 1316px;
}

.footer-left {
  grid-area: left;
  display: flex;
  justify-content: flex-start;
  padding-right: 280px;
}

.footer-right {
  grid-area: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}