
.board {
  color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 
    "left right";
  gap: 10px;
  width: 1316px;
  padding: 33px 0 0 0;
}

.board-leftDisplay {
  grid-area: left;
  display: flex;
  justify-content: flex-start;
}

.board-boardDisplay {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
    "boardSmall boardBig";
}

.board-boardDisplay--smallContainer {
  grid-area: boardSmall;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.board-boardDisplay--main {
  grid-area: boardBig;
  display: flex;
  justify-content: center;
}

.board-rightDisplay {
  grid-area: right;
  display: flex;
  flex-direction: column;
}